<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Hábitos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>
<body>
    <div class="EditarHabito-container" data-aos="zoom-in" data-aos-duration="1200">
        <div class="EditarHabito-header">
            <header data-aos="zoom-in-left" data-aos-duration="1400" data-aos-delay="200">Editar Hábito</header>
        </div>
        <form th:action="@{/habito/{id}/editar(id=${habito.id})}" th:object="${habito}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:name="habitoId" th:value="${habitoId}">
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Nome" th:field="*{nome}" required>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Descrição" th:field="*{descricao}" required>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Categoria" th:field="*{categoria}" required>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Objetivo" th:field="*{objetivo}" required>
            </div>
           <div class="input-subimit">
                <button type="submit" class="submit-btn" th:text="${habito.id != null} ? 'Atualizar' : 'Salvar'">Editar</button>
           </div>
           <div class="voltar-link">
                <a th:href="@{/habito/listar}" >Voltar para à lista de Habitos</a>
           </div>
        </form>
    </div>
    <script>
        AOS.init();
    </script>
</body>
</html>