<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Hábitos</title>
</head>
<body>

<h1>Lista de Hábitos</h1>

<hr>

<h2>Hábitos Cadastrados</h2>

<div class="lista" id="lista">
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Hábito</th>
            <th>Usuário</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Objetivo</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="h : ${habitos}">
            <td th:text="${h.id}"></td>
            <td th:text="${h.nome}"></td>
            <td th:text="${h.usuario != null ? h.usuario.nome : 'Sem usuário'}"></td>
            <td th:text="${h.categoria}"></td>
            <td th:text="${h.descricao}"></td>
            <td th:text="${h.objetivo}"></td>

            <td>
                <form th:action="@{/habito/{id}/editar(id=${h.id})}"
                    method="get" style="display:inline;">
                    <button type="submit" onclick="return confirm('Deseja editar este habito?')">
                        Editar
                    </button>
                </form>

                <form th:action="@{/habito/{id}/delete(id=${h.id})}"
                    method="get" style="display:inline;">
                    <button type="submit" onclick="return confirm('Deseja excluir este habito?')">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
                <button type="submit" onclick="return confirm('Deseja voltar para a lista de usuários?')">
                    <a th:href="@{/usuario/listar}" >Voltar para à lista de usuários</a>
                </button>
</div>
</body>
</html>
